{% extends "base.html" %}
{% block content %}
<style>
    .btn{
        margin-right: 1em;
    }
</style>

<h1>Course Name: {{ course.name }} ({{ course.course_id }})</h1>
<p><b>Section :</b> {{ classroom.section }}</p>
<p><b>Time :</b> {{ course.start_time }} - {{ course.end_time }}</p>
<p><b>Room :</b> {{ course.room|default_if_none:'N/A' }}</p>
<p><b>Current Date/Time:</b> {% now "jS F Y H:i" %}</p>
{% if checked %}
    <p class="text-success">คุณได้ทำการเช็คชื่อเข้าเรียนแล้ว</p>
{% else %}
    <a href="{% url 'check_in' course_id=course.id %}">
        <div class="btn btn-primary">Check in</div>
    </a>
{% endif %}
<hr>
<div class="row">
    <span class="btn btn-warning">
        Total Students: <span class="badge badge-light">{{ course.capacity }}</span>
    </span>
    <span class="btn btn-success">
        Attend: <span class="badge badge-light">{{ attend }}</span>
    </span>
    <span class="btn btn-danger">
        Absent: <span class="badge badge-light">{{ absent }}</span>
    </span>
</div>
{% endblock content %}

